
/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: #E5E5E5;
  color: hsl(250, 43.0%, 48.0%);
  box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.141);
}
.SelectTrigger:hover {
  background-color: hsl(294, 5.5%, 95.3%);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: hsl(252, 56.0%, 57.5%);
}

.SelectIcon {
  color: hsl(250, 43.0%, 48.0%);
}

.SelectContent {
  overflow: hidden;
  background-color: #E5E5E5;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: hsl(250, 43.0%, 48.0%);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--mauve8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: hsl(250, 43.0%, 48.0%);
  color: hsl(250, 43.0%, 48.0%);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: hsl(250, 43.0%, 48.0%);
}

.SelectSeparator {
  height: 1px;
  background-color: hsl(250, 43.0%, 48.0%);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: red;
  color: hsl(250, 43.0%, 48.0%);
  cursor: default;
}